.grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 100px;
    padding: 50px;
    margin-left: 150px;
}

.grid li{
    width: 120px;
    height: 120px;
    background-color: black;
    transform: rotate(45deg);
    position: relative;
}

.grid a{
    color: white;
    position: absolute;
    transform: rotate(-45deg);
    left: 30px;
    top: 38px
}