.header{
    display: flex;
    padding: 25px 15px;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 15px gray;
    justify-content: space-between;
    position: sticky;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: aqua;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    padding: 0px 30px;
}

a{
    text-decoration: none;
}

