.lang{
    margin-top: 30px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.lang li{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.lang li:hover{
    box-shadow: inset 0px 0px 15px 5px rgba(83, 161, 249, 0.676);
}

.title{
    margin-top: 90px;
}