*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  color: black;
  background-image: linear-gradient(135deg,  rgb(29, 225, 250), cyan, rgb(29, 225, 250));
  overflow-y: scroll;
}

a{
  color: #000913;
}

body::-webkit-scrollbar{
    display: none;
}

@media (max-width: 800px) {
  body {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
  }

  .container {
    margin: 5px;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

 .main{
    padding: 0px 10px;
 }

h1{
    margin: 20px 0px;
    font-size: 70px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    margin-top: 25px;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 28px;
    max-width: 80%;
}

.main::after {
    width: 500px;
}

  .lang li{
    width: 80px;
    height: 80px;
  }
}
